* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: verdana;
}

body {
    background-color: #87AAAA;
    height: 881px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titulo {
    background-color: black;
    width: 365px;
    height: 50px;
    border-radius: 5px 5px 0 0;
    color: rgb(187, 168, 133);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.container-formulario {
    background-color: burlywood;
    width: 365px;
    height: 550px;
    border-radius: 5px;
    color: #FAFAFA;
    display: flex;
    align-items: center;
}

.conteudo-formulario {
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-left: 10px;
}

input {
    padding: 8px 150px 8px 10px;
    border-radius: 15px;
    border: none;
}

label {
    margin: 0 0px 0px 10px;
}

button {
    background-color: black;
    align-self: center;
    padding: 13px 50px;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    color: #FAFAFA;
    margin: 30px 10px 0px;
    pointer-events: visible;
    cursor: pointer;
}
